@import "tailwindcss";

#root, body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* Prevents "pull-to-refresh" and elastic scrolling on mobile */
  overscroll-behavior: none; 
  touch-action: none;
}